root = true

[*]
indent_style = space

# ReSharper properties
resharper_for_simple_types = use_var
resharper_instance_members_qualify_declared_in = base_class
resharper_max_attribute_length_for_same_line = 1

[*.{cs,csx}]
# CSharpier - Non-configurable behaviors
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# CSharpier - Configurable behaviors
# end_of_line = lf - there is no 'auto' with an .editorconfig
indent_style = space
indent_size = 4
max_line_length = 100

[*.{csproj,props,targets,xml,config}]
# CSharpier - Configurable behaviors
indent_style = space
indent_size = 2
max_line_length = 100